.container-fluid{
    margin: 0px;
    padding: 0px;
}
.parallax { 
    /* The image used */
    background-image: url("img/fundo1.jpeg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* define o tamanho minhmo para o parallax para não ficar muito pequeno */
    height: 80vh;
}
.texto{
    text-shadow: 2px 2px rgb(92, 92, 92);
    color: #fff;
    font-size: 6vw;
}
.texto-margem{
    padding-top: 10%;
    padding-left: 10%;
    padding-bottom: 10%;
}
.rodape{
    min-height: 200px;
    background-color: #fff;
    bottom: 0px;
}
.background-blue{
    padding-top: 15px;
    background-color: rgb(39, 80, 133);
    min-height: 10vw;
    color: #fff;
}
.background-gray{
    margin-top: -8px;
    padding-top: 15px;
    background-color: rgb(156, 156, 156);
    min-height: 10vw;
    color: #fff;
}
.link{
    font-size: 4vw;
}
.mapa{
    overflow:hidden;
    padding-bottom:56.25%;
    margin-top: 50px;
    margin-bottom: 20px;
    position:relative;
    min-width: 200px;
}
.mapa iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.fale-conosco{
    max-width: 350px;
}

