.container-fluid{
    margin: 0px;
    padding: 0px;
}
.parallax { 
    /* The image used */
    background-image: url("img/fundo1.jpeg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* define o tamanho minhmo para o parallax para não ficar muito pequeno */
    height: 70vh;
}
.texto{
    text-shadow: 2px 2px rgb(92, 92, 92);
    color: #fff;
    padding-left: 10%;
    font-size: 10vh;
}
.texto-margem{
    padding-top: 20vh;
}
.rodape{
    min-height: 200px;
    background-color: #fff;
    bottom: 0px;
}
.background-blue{
    padding-top: 15px;
    background-color: rgb(39, 80, 133);
    min-height: 70px;
    color: #fff;
}
.background-gray{
    margin-top: -8px;
    padding-top: 15px;
    background-color: rgb(156, 156, 156);
    min-height: 70px;
    color: #fff;
}
.link{
    font-size: 30px;
}
.link-certificado{
    margin-right: 20px;
}
.img-fale-conosco{
    max-width: 350px;
}